<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFWorkflowName</key>
	<string>图片记账</string>
	<key>WFWorkflowClientVersion</key>
	<string>2700.0</string>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconStartColor</key>
		<integer>431817727</integer>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>59511</integer>
	</dict>
	<key>WFWorkflowTypes</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array/>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.takescreenshot</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>13DC4853-B147-4B3B-AE57-A25C934CC846</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>personalassistant.lylab.vip.PersonalAssistant.BookkeepScreenshotIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>AppIntentDescriptor</key>
				<dict>
					<key>TeamIdentifier</key>
					<string>XNMRG4L2P5</string>
					<key>BundleIdentifier</key>
					<string>personalassistant.lylab.vip.PersonalAssistant</string>
					<key>Name</key>
					<string>个人助理</string>
					<key>AppIntentIdentifier</key>
					<string>BookkeepScreenshotIntent</string>
				</dict>
				<key>UUID</key>
				<string>A583FF09-E21E-4B60-8531-4815A194547A</string>
				<key>screenshot</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputUUID</key>
						<string>13DC4853-B147-4B3B-AE57-A25C934CC846</string>
						<key>Type</key>
						<string>ActionOutput</string>
						<key>OutputName</key>
						<string>截屏</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
